@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* scroll-behavior: smooth; */
  /* overflow-x: hidden; Prevent horizontal overflow */
  -ms-overflow-style: none; /* IE and Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --skeleton-from: #f5f5f5;
  --skeleton-to: #ededed;
}
